@import "utility/constants";


#agilemd {
  $padding-page: 15px;

  .aglmd-file-flowchart {
    background-color: $color-4-4;

    // [KE] img not yet supported, but this matches RTDs
    // img {
    //   border: 1px solid #ececec;
    //   margin: $height-font/2 0;
    //   padding: $height-font/2;
    //   max-width: 100%;
    // }

    // common layout styles
    .aglmd-flowchart {
      position: relative;
    }

    .aglmd-edge, .aglmd-label, .aglmd-node, .aglmd-start {
      display: block;
      position: absolute;
    }

    // edge styles
    .aglmd-edge {
      background: $color-4-0;
      height: 1px;
      width: 1px;
      x-index: 2;
    }

    // node styles
    .aglmd-node-title, .aglmd-node-body {
      background: $color-5-0;
      border: 1px solid $color-4-0;
      min-height: 3*$padding-page;
      padding: $padding-page;
      word-wrap: break-word;
    }

    .aglmd-node-title {
      border: 1px solid $color-4-0;
      font-weight: bold;
      text-align: center;

      &+ .aglmd-node-body {
        border-top: none;
      }
    }

    .aglmd-node, .aglmd-label {
      z-index: 3;
    }

    .aglmd-node-body, .aglmd-label {
      p, ul, ol {
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .aglmd-label {
      background: $color-4-4;
      padding: 0 $padding-page/2;
    }

    .aglmd-moreinfo {
      @include link($color-3-1);
    }

    // targetable start position
    .aglmd-start {
      visibility: hidden;
      z-index: 1;
    }

    // base64 encoded images of dashed and dotted patterns in $color-4-0
    .dashed {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEW9vb3y8vLHBVQ3AAAAD0lEQVQIW2PkZ4TADxAIABIoBAXF3RsYAAAAAElFTkSuQmCC);
    }

    .dotted {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAAAAABX3VL4AAAADklEQVQIHWPY+4nh014ACiADX+OMQa0AAAAASUVORK5CYII=);
    }

    ol, p, ul {
      line-height: 1.2;
    }

    ol, ul {
      margin: 0;
      padding: $height-font/2 0 $height-font/2 20px;

      p {
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0;
        padding: 0 0 $height-font/2 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    p {
      margin: 0;
      padding: 0 0 $height-font/2 0;
    }

    table {
      border-collapse: collapse;
      font-size: $height-font-s;
      margin: 0;
      max-width: 500%;
      text-align: left;

      br {
        line-height: 1em;
      }

      td, th {
        border: 1px solid $color-4-0;
        max-width: 320px;
        max-width: 100vw;
        padding: $padding-page/2;
        position: relative;
      }

      th, .head {
        background: $color-4-4;
      }
    }
  }

  .aglmd-flowchart-openextra {
    @include icon-info();

    background-position: top center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    position: absolute;
      bottom: $padding-page;
      left: $padding-page;
    height: 32px;
    width: 32px;
    z-index: 10;
  }

}
