// specified by AgileMD's UX & Design Team

// colors
$color-1-0: #ffc21f;
$color-1-1: #fe8d00;
$color-1-2: #ffffcd;
$color-2-0: #8ad800;
$color-2-1: #58a700;
$color-2-3: #6cba09;
$color-2-4: #d1e7b5;
$color-3-0: #00beec;
$color-3-1: #06a2d6;
$color-3-2: #f1fdff;
$color-3-3: #0389B6;
$color-4-0: #bdbdbd;
$color-4-1: #808080;
$color-4-2: #6b6b6b;
$color-4-3: #404040;
$color-4-4: #f2f2f2;
$color-4-5: #d4d3d5;
$color-4-6: #ebebeb;
$color-5-0: #ffffff;
$color-6-0: #e90004;


// dimensions
$height-font: 14px;
$height-font-s: $height-font * 0.75;
$height-font-xs: $height-font-s * 0.75;
$height-font-m: $height-font / 0.75;
$height-font-l: $height-font-m / 0.75;
$height-font-xl: $height-font-l / 0.75;
$height-font-xxl: $height-font-xl / 0.75;
$height-font-xxxl: $height-font-xxl / 0.75;

$height-font-alt: 12px;
$height-font-alt-s: $height-font-alt * 0.75;
$height-font-alt-xs: $height-font-alt-s * 0.75;
$height-font-alt-m: $height-font-alt / 0.75;
$height-font-alt-l: $height-font-alt-m / 0.75;
$height-font-alt-xl: $height-font-alt-l / 0.75;
$height-font-alt-xxl: $height-font-alt-xl / 0.75;
$height-font-alt-xxxl: $height-font-alt-xxl / 0.75;

$gutter: 20px;
$gutter-double: $gutter * 2;
$gutter-half: $gutter / 2;
$gutter-quarter: $gutter / 4;


// font
$font-face: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-face-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
