<!doctype html>
<html>
  <head>
    <title>AgileMD Widget: Full-page demo</title>

    <% include _head.ejs %>
  </head>
  <body>
    <div id="main" style="width:1024px;margin:0 auto;">
      <div id="left" style="float:left;padding-right:24px;width:650px;">

        <h1>Return of the Jedi</h1>
        <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here. Hey, Luke! May the Force be with you. The Force is strong with this one. I have you now. The Force is strong with this one. I have you now. A tremor in the Force. The last time I felt it was in the presence of my old master. I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan--</p>
        <h2>The Force Unleashed</h2>
        <p>Ye-ha! I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. Partially, but it also obeys your commands. Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going. You mean it controls your actions?</p>
        <ul>
        <li>Still, she's got a lot of spirit. I don't know, what do you think?</li>
        <li>Your eyes can deceive you. Don't trust them.</li>
        <li>You're all clear, kid. Let's blow this thing and go home!</li>
        </ul>
        <h3>Rebel Mission to Ord Mantell</h3>
        <p>Your eyes can deceive you. Don't trust them. What!? Remember, a Jedi can feel the Force flowing through him. Partially, but it also obeys your commands. I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan--</p>
        <h4>Jedi Academy</h4>
        <p>In my experience, there is no such thing as luck. The plans you refer to will soon be back in our hands. Hokey religions and ancient weapons are no match for a good blaster at your side, kid. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going. I suggest you try it again, Luke. This time, let go your conscious self and act on instinct.</p>
        <ol>
        <li>I suggest you try it again, Luke. This time, let go your conscious self and act on instinct.</li>
        <li>I don't know what you're talking about. I am a member of the Imperial Senate on a diplomatic mission to Alderaan--</li>
        <li>No! Alderaan is peaceful. We have no weapons. You can't possibly&hellip;</li>
        </ol>
        <h5>Jedi Academy</h5>
        <p>I'm surprised you had the courage to take the responsibility yourself. But with the blast shield down, I can't even see! How am I supposed to fight? Hey, Luke! May the Force be with you.</p>

      </div>
      <div id="right" style="float:left;padding-top:1em;width:350px;">
        <div id="agilemd"></div>
      </div>
    </div>
  </body>
</html>
